@page "/customer"

@using System.ComponentModel.DataAnnotations

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <p>@_errorMessage</p>
}
else if (!_hasLoaded)
{
    <p><em>Loading...</em></p>
}
else
{

    <EditForm FormName="Add Customer" Model="@_form" OnValidSubmit="OnValidAddCustomer">
        <DataAnnotationsValidator/>
        <MudGrid>
            <MudItem xs="4">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Customer number"
                                      @bind-Value="_form.CustomerNumber" />
                        <MudTextField Label="Customer name" Class="mt-3"
                                      @bind-Value="_form.CustomerName" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Add</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>

    <MudTable Style="width:50%;" Items="@_customers" Dense="true" Striped="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Customers</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Customer number</MudTh>
            <MudTh>Customer name</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Number">@context.CustomerNumber</MudTd>
            <MudTd DataLabel="Name">@context.CustomerName</MudTd>
            <MudTd>
                <MudIconButton OnClick="@(() => DeleteCustomerByNumber(context.CustomerNumber))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    
}
